<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title></title>
</head>
<body>
	<section>

		<div class="container">
			<div class="row">
				<div class="col md-12">
					<div class="card">
						<div class="card-body">
							<h3 class="text-center mb-3">
								<b><u>Change Password</u></b>
							</h3>

							<form action="#" th:action="@{/user/change-password}"
								method="post">

								<!-- old password field -->
								<div class="form-group">
									<input name="oldPassword" type="text" class="form-control"
										placeholder="Enter Old Passord.." />
								</div>


								<!-- new password field -->
								<div class="form-group">
									<input name="newPassword" type="text" class="form-control"
										placeholder="Enter New Passord.." />
								</div>

								<div class="container text-center">


									<button type="reset" class="btn btn-warning mr-2">Reset</button>
									<button type="submit" class="btn btn-success">Change</button>
								</div>

							</form>

						</div>
					</div>

				</div>
			</div>
		</div>
		<script>
			$(document).ready(()=>{
				$('.item').removeClass('active');
				$('#settings-link').addClass("active");
			});
		</script>


	</section>
</body>
</html>