<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title></title>
</head>
<body>
	<section>

		<div class="container">
			<div class="card">
				<div id="message" th:if="${session.message}"
					th:classappend="${session.message.type}" class="alert mt-4" role="alert">
					<p class="text-center" th:text="${session.message.content}"></p>

					<th:block th:text="${#session.removeAttribute('message')}"></th:block>
				</div>
				<div class="card-body my-5">
					<div class="container text-center">
						<img src="#" style="height: 200px; width: 200px;"
							class="my_profile_picture" th:src="@{/img/contactlogo.png}"
							alt="profile photo" />
					</div>
				</div>

				<h1
					class="text-center mt-3 text-secondary font-italic font-weight-light">Start
					adding your contact on cloud....</h1>

				<a href="#" th:href="@{/user/addcontact}"
					class="btn btn-primary mt-4 btn-block text-uppercase">Add New
					Contact</a>


			</div>
		</div>

		<script>
			$(document).ready(()=>{
				$('.item').removeClass('active');
				$('#home-link').addClass("active");
			});
		</script>


	</section>
</body>
</html>