<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title></title>
</head>
<body>
	<section class="banner">

		<div
			class="container d-flex justify-content-center align-items-center">
			<div class="row">
				<div class="col-md-8 offset-md-2 text-center mt-5">

					<h1 class="font-wight-bold">Smart Contact Manager</h1>
					<p>
						<b>Smart Collecting your contancts in very smarter way. We
							provide very efficient and smarter way of handling contacts.</b>
					</p>

					<button type="submit"
						class="btn btn-outline-warning btn-lg text-black">Get
						Start</button>
				</div>
			</div>
		</div>

	</section>
</body>
</html>